<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Activities</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Act1JavaPage1</display-name>
    <servlet-name>Act1JavaPage1</servlet-name>
    <servlet-class>Act1JavaPage1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Act1JavaPage1</servlet-name>
    <url-pattern>/Act1JavaPage1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Act1JavaPage2</display-name>
    <servlet-name>Act1JavaPage2</servlet-name>
    <servlet-class>Act1JavaPage2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Act1JavaPage2</servlet-name>
    <url-pattern>/Act1JavaPage2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insert</display-name>
    <servlet-name>Insert</servlet-name>
    <servlet-class>Insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert</servlet-name>
    <url-pattern>/Insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingList</display-name>
    <servlet-name>BookingList</servlet-name>
    <servlet-class>BookingList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingList</servlet-name>
    <url-pattern>/BookingList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Book</display-name>
    <servlet-name>Book</servlet-name>
    <servlet-class>Book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book</servlet-name>
    <url-pattern>/Book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassengerRegister</display-name>
    <servlet-name>PassengerRegister</servlet-name>
    <servlet-class>PassengerRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassengerRegister</servlet-name>
    <url-pattern>/PassengerRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCheck</display-name>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file> Login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FinalBook</display-name>
    <servlet-name>FinalBook</servlet-name>
    <servlet-class>FinalBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalBook</servlet-name>
    <url-pattern>/FinalBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayBookedList</display-name>
    <servlet-name>DisplayBookedList</servlet-name>
    <servlet-class>DisplayBookedList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayBookedList</servlet-name>
    <url-pattern>/DisplayBookedList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginError</display-name>
    <servlet-name>LoginError</servlet-name>
    <servlet-class>LoginError</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginError</servlet-name>
    <url-pattern>/LoginError</url-pattern>
  </servlet-mapping>
</web-app>